/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Public Pixel', sans-serif;
  background-color: #3a3a3a !important;
}

a {
  color: #3a3a3a;
  text-decoration: none;
}

a:hover {
  color: #3a3a3a;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: white !important;
}

#title_container {
  display:flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 3em;
  margin-top: 3em;
  transform: rotate(-2deg);
}

.title {
  font-size: 35px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
  border-bottom: 2px solid #000;
  width: 80%;
  font-size: 130%;
  font-family: 'Public Pixel', sans-serif;
}

/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/
.card {
  width: 320px;
  padding: 30px;
  background: #fff;
  border: 8px solid #000 !important;
  border-radius: 0 !important;
  box-shadow: 15px 15px 0 #000;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  font-family: 'Public Pixel', sans-serif;
  margin:2em;
}
.card:active {
  animation: shake 0.5s ease-in-out;
}
.card:hover {
  transform: rotate(0deg) scale(1.02);
  box-shadow: 20px 20px 0 #000;
}
.banner {
  position: absolute;
  top: 3px;
  right: -95px;
  background: #000;
  color: #fff;
  padding: 15px;
  width: 350px;
  text-align: center;
  transform: rotate(45deg);
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  overflow: hidden;
  transition: background 0.5s ease;
}
.banner-text {
  display: inline-block;
  transition: opacity 0.5s ease, transform 0.5s ease;
  width: 100%;
  position: absolute;
  left: 13%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.5em;
}
.banner:hover .banner-text:first-child {
  opacity: 0;
  transform: translateY(-100%);
}
.banner:hover .banner-text:last-child {
  opacity: 1;
  transform: translateY(-40%);
}
.banner-text:last-child {
  opacity: 0;
  transform: translateY(60%);
}
.banner:hover {
  background: #833ab4;
  background: linear-gradient(
    to right,
    #833ab4,#fd1d1d,#fcb045
  );
}
.card_title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
  border-bottom: 2px solid #000;
  width: 70%; /* or any other percentage or pixel value */
}
.card__subtitle {
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.button {
  border: 4px solid #000;
  background: #000;
  color: #fff;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #fff;
  color: #000;
  transform: translateY(-5px);
  box-shadow: 0 5px 0 #000;
}
.button:active {
  animation: shake 0.5s ease-in-out;
  transform: translateY(0);
  box-shadow: none;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#list_container {
  overflow: hidden;
  width: 100%;
}

.categorias #filters {
  list-style: none;
  margin-bottom: 20px;
}

.categorias #filters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: 'Public Pixel', sans-serif;
}

.categorias #filters li:hover, .categorias #filters li.filter-active {
  border-radius: 50px;
background: #e0e0e0;
box-shadow: inset 20px 20px 60px #aaaaaa,
            inset -20px -20px 60px #ffffff;
}

.categorias .categorias-item {
  margin-bottom: 30px;
}

.categorias .categorias-item .categorias-img {
  overflow: hidden;
}

.categorias .categorias-item .categorias-img img {
  transition: all 0.6s;
}

.categorias .categorias-item .categorias-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all 0.3s;
  background: #3a3a3a;
  padding: 10px 15px;
}

.categorias .categorias-item .categorias-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}

.categorias .categorias-item .categorias-info p {
  color: #f9fcfe;
  font-size: 14px;
  margin-bottom: 0;
}

.categorias .categorias-item .categorias-info .preview-link, .categorias .categorias-item .categorias-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}

.categorias .categorias-item .categorias-info .preview-link:hover, .categorias .categorias-item .categorias-info .details-link:hover {
  color: #3a3a3a;
}

.categorias .categorias-item .categorias-info .details-link {
  right: 10px;
}

.categorias .categorias-item:hover .categorias-img img {
  transform: scale(1.15);
}

.categorias .categorias-item:hover .categorias-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.categorias-details {
  padding-top: 40px;
}

.categorias-details .categorias-details-slider img {
  width: 100%;
}

.categorias-details .categorias-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.categorias-details .categorias-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #3a3a3a;
}

.categorias-details .categorias-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3a3a3a;
}

.categorias-details .categorias-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(55, 81, 126, 0.08);
}

.categorias-details .categorias-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.categorias-details .categorias-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.categorias-details .categorias-info ul li + li {
  margin-top: 10px;
}

.categorias-details .categorias-description {
  padding-top: 30px;
}

.categorias-details .categorias-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.categorias-details .categorias-description p {
  padding: 0;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  section#list.categorias{
    margin-left: 10vw !important;
    margin-right: 10vw !important;
  }
  .card {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section#list.categorias{
    margin-left: 2vw !important;
    margin-right: 2vw !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  section#list.categorias{
    margin-left: 5vw !important;
    margin-right: 5vw !important;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #3a3a3a;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #f3f5fa;
  text-align: center;
  font-size: 15px;
  color: #444444;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #3a3a3a;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #3a3a3a;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #209dd8;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #3a3a3a;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Public Pixel', sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #3a3a3a;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #3a3a3a;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #3a3a3a;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #3a3a3a;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  padding-left: .5rem;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright, #footer .credits {
    text-align: center;
    float: none;
  }
  #footer .credits {
    padding-top: 4px;
  }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #3a3a3a;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #3a3a3a;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 0px;
  transition: all 0.4s;

  
  background: #fff;
  border: 3px solid #000 !important;
  border-radius: 0 !important;
  box-shadow: 5px 5px 0 #000;
  transition: all 0.3s ease;

}

.back-to-top i {
  font-size: 24px;
  color: #000;
  line-height: 0;
}

.back-to-top:hover {
  transform: rotate(0deg) scale(1.02);
  box-shadow: 5px 5px 0 #000;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled, #header.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}